.cardCuentame {
    width: 100%; 
    height: 80%;
  }

  ::ng-deep .mat-select-panel {
    max-width: 100% !important; 
    width: auto !important;
  }
  
  ::ng-deep .mat-option {
    white-space: normal !important; 
  }

  ::ng-deep ion-button.btn-feliz {
    --background: #DBD80C; 
   
  }
  
  ::ng-deep ion-button.bot1 {
    --background: #DE0CD4; 
    
  }

  ::ng-deep ion-button.bot2 {
    --background: #800CDB;
  }

.ojo {
    text-align: center;
}

.listobutton{
    display: flex;
    justify-content: center;
    align-items: center;
}